body {
  margin: 0 auto;
  background-color:rgb(89, 201, 191);
  border: solid whitesmoke 10px;
}

hr {
  border: solid whitesmoke 6px;
}

nav {
  float: right;
  margin-top: 20px;
  font-size: 20px;
}

.grow {
  transition: all .2s ease-in-out;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}
.grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.8);
}
#logo {
text-align: center;
background-color: rgba(88, 82, 82, 0.411);
background-blend-mode: soft-light;
}
#bus {
border-radius: 100%;
border: solid 5px white;
}

#text {
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: 'Bebas Neue', cursive;
}

.vote {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  margin:0 auto;
  display: block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  text-decoration: none;
}

.vote {
  transition: all .2s ease-in-out;
}
.vote:hover {
  background-color: rgb(61, 56, 56);
}

#table {
  margin: 0 auto;
}

img {
  width: 275px;
  margin-top: 40px;
}

#productList {
  padding: 50px;
  display: inline-block;
  border-radius: 80%;
}

#productList p {
  text-align: center;
  
}
#productList td {
  padding: 20px;
  width: 100px;

}
.products {
  border-radius: 80%;
  border: solid 2px black;
}

.results {
  text-align:center;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-decoration: underline;
}

.results:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.8);
}

.chartcontainer {
  width:700px; 
  height: 600px;
  background-color: white;
  margin: 0 auto;
  border: solid 3px rgb(49, 114, 109);
  padding-bottom: 30px;
}