body {
  margin: 0 auto;
  background-color:rgb(89, 201, 191);
  border: solid whitesmoke 10px;
}
hr {
  border: solid whitesmoke 8px;
}
nav {
  float: right;
  margin-top: 20px;
  font-size: 20px;
}

#logo {
text-align: center;
background-color: rgba(88, 82, 82, 0.411);
background-blend-mode: soft-light;
}
#bus {
border-radius: 100%;
border: solid 5px white;
}

#text {
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: bold;
  
}
main > p {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

#vote {
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
}
#table {
  margin: 0 auto;
}

img {
  width: 275px;
  margin-top: 40px;
}
#productList {
  padding: 50px;
  display: inline-block;
  border-radius: 80%;
 
}

#productList p {
  text-align: center;
  
}
#productList td {
  padding: 20px;
  width: 100px;

}
.products {
  border-radius: 80%;
  border: solid 2px black;
}

.chartcontainer {
  width:500px; 
  height: 500px;
  background-color: white;
  margin: 0 auto;
  border: solid 3px rgb(49, 114, 109);
}